{% extends 'shop/basic.html' %}


{% block title %} About Us {% endblock %}
{% block body %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">D-Cart</h1>
            <p>D-Cart is an Indian e-commerce company based in Odisha, Telengana, India. It was founded by Brajeswar
                Lenka in the year 2019. The company initially focused on book sales, before expanding into other product
                categories such as consumer electronics, fashion, home essentials & groceries, and lifestyle
                products.The service competes primarily with Amazon's Indian subsidiary, and the domestic rival
                Snapdeal. As of March 2020, D-Cart held a 9.5% market share of India's e-commerce industry. D-Cart is
                significantly dominant in the sale of electronics gadgets especially Smartphones, smartwatches and also
                fashion accessories such as t-shirts and was described as being "neck and neck" with Amazon in the sale
                of electronics and mobile phones.D-Cart also owns PhonePe, a mobile payments service based on the
                Unified Payments Interface (UPI). Till 2022 it has plan to extend it's services to different countries
                and open a BPO in U.S. Many big companies wants to buy stocks of D-Cart because of it's increasing
                popularity among youths.</p>

        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                        <image width="140" height="140" xlink:href="https://pbs.twimg.com/profile_images/943373949143990272/UWjpkSRk_400x400.jpg" clip-path="url(#myCircle)" />
                </svg>
                <h2>Founder</h2>
                <p><b>Brajeswar Lenka</b> is the Founder as well as the Chief Executive Officer of D-Cart, a leading indian e-commerce firm. Under his management this comapany reached US $10 million within a short span of 2 years. </p>
                
            </div><!-- /.col-lg-4 -->
           
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: 140x140" >
                    
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                        
                </svg>
                <h2>Co-Founder</h2>
                <p>Harry is the Co-Founder of D-Cart. He plays a major role in establishing this company. He gave best of his advice and experience to the founder at every step.</p>
                
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


    

    </div> <!-- /container -->




</main>


{% endblock %}