{% extends 'shop/basic.html' %}


{% block title %} Contact Us {% endblock %}
{% block body %}
<div class="container my-3">
  <h2>Contact Us</h2>
  <form action="/shop/contact/" method="POST">
    {% csrf_token %}
    <div class="form-group my-3">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name Here">
    </div>
    <div class="form-group my-3">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="desc">Enter your query here: </label>
      <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
{% endblock %}

{% block js %}
<script>
  {% if thank %}
  alert(`Your query is submitted successfully.`);
  document.location = "/shop";
  {% endif %}
</script>
{% endblock %}